@charset "UTF-8";
/*Globales*/
html {
  font-size: 62.5%; /* 1rem = 10px*/
  box-sizing: border-box;
}
html body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
}
html body h1 {
  font-size: 6rem;
}
html body h2 {
  font-size: 3rem;
}
html body h3 {
  font-size: 2rem;
}
html body h1,
html body h2,
html body h3,
html body h4 {
  text-transform: uppercase;
}
html body a {
  text-decoration: none;
}
html body li {
  list-style: none;
}
html body ::-moz-selection {
  background-color: #C59D5F;
  color: #FFFFFF;
}
html body ::selection {
  background-color: #C59D5F;
  color: #FFFFFF;
}
html body .logo {
  font-size: 3rem;
  letter-spacing: 0.25rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
} /*snipet box-sizing */
.boton2, .boton {
  padding: 1.8rem 7rem;
  text-transform: uppercase;
  transition: background-color 0.5s ease;
}

.contenedor_contacto .imagen_contacto img, .galeria_bg .galeria img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*Utilidades*/
.borde {
  border-bottom: 0.1rem solid !important;
}

.boton {
  background-color: #262626;
  color: #FFFFFF;
  border: 0.1rem solid #C59D5F;
}
.boton:hover {
  background-color: #FFFFFF;
  color: #C59D5F;
}

.boton2 {
  background-color: #e0e0e0;
  color: #000000;
  border: 0.1rem solid #C59D5F;
}
.boton2:hover {
  background-color: #000000;
  color: #C59D5F;
}

.boton3 {
  border: none;
  width: 20rem;
  height: 5rem;
  transition: background-color 0.5s ease;
}
.boton3:hover {
  cursor: pointer;
  background-color: #C59D5F;
}

.boton4 {
  border: 0.1rem solid #FFFFFF;
  color: #FFFFFF;
  font-size: 1.6rem;
  letter-spacing: 0.4rem;
  padding: 1.8rem 7rem;
  transition: background-color 0.5s ease;
}
.boton4:hover {
  background-color: #FFFFFF;
  color: #000000 !important;
}

/*Header*/
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}
header nav {
  min-height: 8rem;
  box-shadow: 0.1rem 0.2rem 0.3rem #333;
}
header nav .navbar-toggler-icon {
  width: 3rem;
  height: 3rem;
}
header nav .nav_flex {
  gap: 2rem;
}
header nav .nav_flex .nav-link {
  letter-spacing: 0.4rem;
  position: relative;
}
header nav .nav_flex .nav-link:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1rem;
  transform: scaleX(0);
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar-nav li:hover .nav-link:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media (min-width: 992px) {
  .nav_flex {
    gap: 5rem !important;
  }
}
/*Footer*/
footer {
  background-color: #000000;
}
footer a:visited {
  color: #FFFFFF;
}
footer a:hover,
footer a .logo:hover {
  color: #C59D5F !important;
}
footer .contenedor_footer1 {
  min-height: 25rem;
}
footer .contenedor_redes {
  gap: 1.3rem;
}
footer .contenedor_footer3 {
  gap: 1.3rem;
}
footer .contenedor_footer3 a {
  color: #FFFFFF;
}
footer .contenedor_footer4 span {
  font-size: 1.7rem;
}
footer .footer_final {
  border-top: 0.2rem solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, #f19cc1, #94bbe9);
  gap: 5rem;
}

@media (min-width: 768px) {
  .contenedor_footer3,
.contenedor_footer4 {
    align-items: flex-start !important;
  }
}
/*Portada index*/
.portada_hero {
  height: 90vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/herom.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@media (min-width: 1200px) {
  .portada_hero {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .portada_hero h1 {
    font-size: 12rem;
    margin: 0;
  }
  .portada_hero p {
    font-size: 2rem;
  }
}
/*Conocenos index*/
.conocenos_contenedor {
  background-color: #262626;
  height: 60rem;
}
.conocenos_contenedor .conocenos_contenido {
  max-width: 100rem;
}
.conocenos_contenedor .conocenos_contenido span {
  text-transform: uppercase;
  color: #C59D5F;
}

@media (min-width: 700px) {
  .conocenos_contenedor {
    height: 50rem;
  }
}
.imagen_salon {
  background-image: url(../img/salon.jpg);
  background-position: center;
  background-attachment: fixed;
  height: 60vh;
}

/*Servicios index*/
.contenedor_servicios {
  min-height: 40rem;
  gap: 2rem;
}

/*Blog index*/
.contenedor_blog {
  min-height: 60rem;
  background-color: #262626;
}
.contenedor_blog .entrada_blog {
  max-width: 35rem;
  border-bottom: 0.1rem solid #C6C6C6;
}
.contenedor_blog .entrada_blog img {
  width: 30rem;
  height: 35rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.contenedor_blog .entrada_blog a {
  color: #C59D5F;
  border-bottom: 1.5px solid;
}
.contenedor_blog .entrada_blog a:hover {
  font-weight: bold;
}

@media (min-width: 650px) {
  .entrada_blog {
    border-bottom: none !important;
  }
}
/*Mapa index*/
.mapa_principal {
  height: 40rem;
}

/*Servicios.html*/
.portada_servicios {
  height: 70vh;
  background-image: url(../img/serviciosm.jpg);
  background-size: cover;
}
.portada_servicios h1 {
  font-size: 5.2rem;
}

@media (min-width: 1200px) {
  .portada_servicios {
    background-image: url(../img/servicios.jpg);
    padding-left: 50rem;
  }
  .portada_servicios h1 {
    font-size: 7rem;
  }
}
/*Servicios.html - servicios*/
.servicios_main {
  background: linear-gradient(to bottom, rgb(194, 194, 194) 0%, rgb(194, 194, 194) 7%, rgb(204, 204, 204) 19%, rgb(209, 209, 209) 30%, rgb(237, 237, 237) 50%, rgb(237, 237, 237) 100%);
}
.servicios_main .contenedor_servicio1 h3,
.servicios_main .contenedor_servicio2 h3 {
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.66);
}
.servicios_main .servicio1,
.servicios_main .servicio2 {
  height: 30rem;
  gap: 2rem;
  max-width: 60rem;
}
.servicios_main .servicio1 p,
.servicios_main .servicio2 p {
  margin: 0;
}

@media (min-width: 480px) {
  .servicio1 li .linea,
.servicio2 li .linea {
    border-bottom: 0.1rem solid #C6C6C6;
    width: 50%;
  }
}
@media (min-width: 768px) {
  .contenedor_servicio1 h3,
.contenedor_servicio2 h3 {
    font-size: 3rem;
  }
  .servicio1 p,
.servicio2 p {
    font-size: 1.8rem;
  }
}
@media (min-width: 1200px) {
  .contenedor_servicio1 {
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }
  .contenedor_servicio1 .servicio1 {
    width: 40%;
    margin: 0 !important;
  }
  .servicios_contenedor2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding-top: 5rem;
  }
  .servicios_contenedor2 .servicio2 {
    width: 60rem;
  }
}
/*Galeria.html*/
.galeria_bg {
  background-image: radial-gradient(circle, #ffe2b6 0%, #262626 100%);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.galeria_bg .portada_galeria {
  height: 70vh;
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.66);
}
.galeria_bg .portada_galeria h1 {
  font-size: 5rem;
}
.galeria_bg .galeria {
  gap: 4rem;
}
.galeria_bg .galeria .modelos {
  width: 30rem;
  height: 50rem;
  box-shadow: 4px 8px 21px 8px rgba(0, 0, 0, 0.75);
  transition: all 300ms;
}
.galeria_bg .galeria .modelos:hover {
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .portada_galeria {
    height: 50vh !important;
  }
  .portada_galeria h1 {
    font-size: 7rem !important;
  }
}
@media (min-width: 1200px) {
  .portada_galeria {
    height: 40vh !important;
  }
}
/*Turnos.html*/
.portada_turnos {
  height: 70vh;
  background-image: url(../img/turnosm.jpg);
  background-size: cover;
  background-position: center;
}

@media (min-width: 1200px) {
  .portada_turnos {
    background-image: url(../img/turnos.jpg);
  }
  .portada_turnos h1 {
    font-size: 7rem;
  }
}
/*Turnos.html - selección de turno*/
.contenedor_turnos {
  max-width: 140rem;
  display: grid;
  justify-items: center;
  align-items: center;
  row-gap: 4rem;
}
.contenedor_turnos .turno {
  width: 33rem;
  height: 50rem;
  gap: 5rem;
  border-radius: 3rem;
  background-color: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  transition: all 300ms;
}
.contenedor_turnos .turno:hover {
  transform: scale(1.05);
}
.contenedor_turnos .turno h2 {
  color: #C59D5F;
  text-shadow: 0px 4px 5px rgba(197, 157, 95, 0.66);
}
.contenedor_turnos .turno2 {
  background-color: #262626;
  color: #FFFFFF;
}
.contenedor_turnos .turno2 h2 {
  color: #C59D5F;
  text-shadow: 0px 4px 5px rgba(197, 157, 95, 0.66);
}
.contenedor_turnos .boton,
.contenedor_turnos .boton2 {
  padding: 2rem 3rem;
}

@media (min-width: 1200px) {
  .contenedor_turnos {
    height: 70rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
  }
}
/*Contacto.html*/
.mapa_contacto {
  height: 60rem;
}

/*Contacto formulario*/
.formulario {
  background-color: #000000;
}
.formulario .contenedor_campos {
  height: 60rem;
  flex-wrap: wrap;
  gap: 5rem;
}
.formulario .contenedor_campos .campo {
  border: 0.1rem solid #FFFFFF;
  background-color: transparent;
  color: #C6C6C6;
  width: 30rem;
  height: 5rem;
  padding: 1rem;
}

@media (min-width: 992px) {
  .contenedor_campos {
    flex-direction: row !important;
    height: 25rem !important;
  }
}
/*Contacto ubicación*/
.contenedor_contacto {
  display: grid;
}
.contenedor_contacto .info_contacto {
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 2rem;
}
.contenedor_contacto .info_contacto .datos {
  gap: 1rem;
}

@media (min-width: 768px) {
  .contenedor_contacto {
    grid-template-columns: repeat(2, 1fr);
    margin: 3rem;
  }
  .contenedor_contacto .info_contacto h3 {
    font-size: 2.5rem;
  }
}
.proximamente-bg {
  background-image: url(../img/proximamente.jpg);
}

.proximamente-bg2 {
  background-image: url(../img/proximamente2.jpg);
}

.proximamente-bg,
.proximamente-bg2 {
  height: 90vh;
}
.proximamente-bg .proximamente,
.proximamente-bg2 .proximamente {
  height: 100%;
}
.proximamente-bg .proximamente h1,
.proximamente-bg2 .proximamente h1 {
  font-size: 4rem;
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
}/*# sourceMappingURL=styles.css.map */