:root {
    --negro: #000000;
    --blanco: #FFFFFF;
    --oscuro: #262626;
    --dorado: #C59D5F;
    --gris: #C6C6C6;
}

/*Globales*/
html {
    font-size: 62.5%; /* 1rem = 10px*/
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
  } /*snipet box-sizing */

body {
    font-size: 1.6rem; 
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/*Utilidades*/

.borde {
    border-bottom: .1rem solid !important;
}

.boton {
    background-color: var(--oscuro);
    color: var(--blanco);
    border:.3rem solid var(--dorado);
    border-radius: .8rem;
    padding: 2rem 8rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .5s ease;
}

.boton2 {
    background-color: #e0e0e0;
    color: var(--negro);
    border:.3rem solid var(--dorado);
    border-radius: .8rem;
    padding: 2rem 8rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .5s ease;
}

.boton3 {
    border: none;
    height: 5rem;
    width: 20rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    transition: background-color .5s ease;
}

.boton:hover {
    background-color: var(--blanco);
    color: var(--dorado);
}

.boton2:hover {
    background-color: var(--negro);
    color: var(--dorado);
}

.boton3:hover {
    cursor: pointer;
    background-color: var(--dorado);
}

/*Header*/

header {
    position: sticky;
    top: 0;
}

nav {
    min-height: 8rem;
    box-shadow: 0.1rem 0.2rem 0.3rem #333;
}

.navbar-toggler-icon {
    height: 3rem;
    width: 3rem;
}

.nav_flex {
    gap: 2rem;
}

.nav-link {
    letter-spacing: .4rem;
    position: relative;
}

.nav-link:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: .1rem;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navbar-nav li:hover .nav-link:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.logo {
    font-size: 3rem;
}

@media (min-width: 992px) {
    .nav_flex {
        gap: 5rem;
    }
} 


/*Portada index*/

.portada_hero {
    height: 90%;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    )
    ,url(../img/herom.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

@media (min-width: 1200px) {
   .portada_hero {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    )
    ,url(../img/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
   }

   .portada_hero h1 {
    font-size: 12rem;
    margin: 0;
   }

   .portada_hero p {
    font-size: 2rem;
   }
} 

/*Conocenos index*/

.conocenos_contenedor {
  background-color: var(--oscuro);
  min-height: 50rem;
}

.conocenos_contenido span {
  color: var(--dorado);
}

.imagen_salon {
    background-image: url(../img/salon.jpg);
    background-position: center;
    background-attachment: fixed;
    height: 60%;  
}

/*Servicios index*/

.contenedor_servicios {
    min-height: 30rem;
    gap: 2rem;
}


/*Blog index*/

 .contenedor_blog {
   min-height: 60rem;
   column-gap: 5rem;
   background-color: var(--oscuro);
}

.entrada_blog {
    max-width: 30rem;
    border-bottom: .1rem solid var(--gris);
} 


.entrada_blog img {
    width: 30rem;
    height: 35rem;
    object-fit: cover;
}

.entrada_blog a {
    color: var(--dorado);
    border-bottom: 1.5px solid;
}


@media (min-width: 650px) {
    
   .entrada_blog {
    border-bottom: none;
   }

} 

/*Mapa index*/

.mapa_principal {
    height: 40rem;
}

/*Footer*/

footer{
    background-color: var(--negro);
}

footer a:visited {
    color: var(--blanco);
}


footer a:hover,
footer .logo:hover{
    color: var(--dorado) !important;
}

.contenedor_footer1 {
    min-height: 25rem;
}

.contenedor_redes,
.contenedor_footer3 {
    gap: 1.3rem;
}

.contenedor_footer3 a {
    color: var(--blanco);
}

.contenedor_footer4 span {
    font-size: 1.7rem;
}

.footer_final {
    border-top: .1rem solid var(--gris);
}


@media (min-width: 768px ) {

    .contenedor_footer3 {
        align-items: flex-start !important;
    }

    .contenedor_footer4 {
        align-items: flex-start !important;
    }
}

/*Servicios.html*/

.portada_servicios {
    height: 70vh;
    color: var(--blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/serviciosm.jpg);
    background-size: cover;
}

.portada_servicios h1 {
    font-size: 5.2rem;
    text-align: center;
}


@media (min-width: 1200px) {
   .portada_servicios {
    background-image: url(../img/servicios.jpg);
    padding-left: 50rem;
   }

   .portada_servicios h1 {
    font-size: 7rem;
   }
} 

/*Servicios.html - servicios*/
.servicios_main {
    background: linear-gradient(to bottom, rgba(194,194,194,1) 0%, rgba(194,194,194,1) 7%, rgba(204,204,204,1) 19%, rgba(209,209,209,1) 30%, rgba(237,237,237,1) 50%, rgba(237,237,237,1) 100%);
}

.contenedor_servicio1 h3,
.contenedor_servicio2 h3 {
    margin: 0;
    text-align: center;
    padding-top: 3rem;
    text-shadow: 0px 4px 5px rgba(0,0,0,0.66);
}

.servicio1,
.servicio2 {
    height: 40rem;
    padding: 1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.servicio1 li,
.servicio2 li {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 2rem;
}

.servicio1 p,
.servicio2 p {
    margin: 0;
}

.servicio1 hr,
.servicio2 hr {
    display: none
}


@media (min-width: 480px) {
   .servicio1 li hr,
   .servicio2 li hr {
       display: flex;
       color: var(--negro);
       width: 40%;   
       margin: 0;
   }

    .servicio1 li,
    .servicio2 li {
        justify-content: space-evenly;
    }
} 

@media (min-width: 768px) {
    .contenedor_servicio1 h3,
    .contenedor_servicio2 h3 {
        font-size: 3rem;
    }

    .servicio1 p,
    .servicio2 p {
        font-size: 1.8rem;
    }
} 

@media (min-width: 1200px) {
    .contenedor_servicio1 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }

    .contenedor_servicio1 h3 {
        padding-top: 0;
    }

    .servicio1 {
        width: 35%;
        gap: 4rem;
    }

    .servicio1 li {
        padding: 0rem;
    }

    .servicios_contenedor2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        padding-top: 5rem;
    }

    .servicio2 {
        width: 50rem;
    }
}   


/*Galeria.html*/

.portada_galeria {
    height: 70vh;
    text-shadow: 0px 4px 5px rgba(0,0,0,0.66);
}

.galeria_bg {
    background-image:  linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ), url(../img/galeria.jfif);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.galeria {
    gap: 8rem;
}

.modelos {
    height: 50rem;
    width: 30rem;
    box-shadow: 4px 8px 21px 8px rgba(0,0,0,0.75);
    transition: all 300ms;
}

.modelos:hover {
    transform: scale(1.10);
}

.galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media (min-width: 768px) {
   .portada_galeria {
    height: 50vh;
   }

   .portada_galeria h1 {
    font-size: 7rem;
   }

}

@media (min-width: 1200px) {
   .portada_galeria {
    height: 40vh;
   }
} 

/*Turnos.html*/

.portada_turnos {
    height: 70vh;
    display: grid;
    justify-items: center;
    align-items: center;
    color: var(--blanco);
    background-image: url(../img/turnosm.jpg);
    background-size: cover;
    background-position: center;
}

@media (min-width: 1200px) {
   .portada_turnos{
    background-image: url(../img/turnos.jpg);
   }

   .portada_turnos h1 {
    font-size: 7rem;
   }
} 

/*Turnos.html - selección de turno*/

.elige_turnos {
    text-align: center;
    text-shadow: 0px 4px 5px rgba(0,0,0,0.66);
    margin: 5rem 0;
}

.contenedor_turnos {
    max-width: 140rem;
    margin: 0 auto;
    display: grid;
    justify-items: center;
    row-gap: 4rem;
}

.turno {
    height: 50rem;
    width: 30rem;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 3rem;
    background-color: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
                -15px -15px 30px #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}

.turno h2 {
    color: var(--dorado);
    text-shadow: 0px 4px 5px rgba(197,157,95,0.66);
    font-weight: 400;
}

.turno li{
    height: 10rem;
    display: grid;
    justify-items: center;
    align-items: center;
}

.boton,
.boton2 {
    padding: 2rem 3rem;
}

.turno2 {
    background-color: var(--oscuro);
    color: var(--blanco);
}

.turno2 h2 {
    color: var(--dorado);
    text-shadow: 0px 4px 5px rgba(197,157,95,0.66);
}

@media (min-width: 480px) {
   .turno {
    height: 60rem;
    width: 40rem;
   }
} 

@media (min-width: 1200px) {
   .contenedor_turnos {
    height: 70rem;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
   }
   .elige_turnos h2 {
    font-size: 3.5rem;
   }
} 

/*Contacto.html*/

.mapa_contacto {
    height: 60rem;
}
.mapa_contacto iframe {
    width: 100%;
    height: 100%;
}

/*Contacto formulario*/

.formulario {
    background-color: var(--negro);
}

.contenedor_campos {
    border: none;
    height: 60rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
}

.campo {
    border: .1rem solid var(--blanco);
    background-color: transparent;
    color: var(--gris);
    width: 30rem;
    height: 5rem;
    padding: 1rem;
}

@media (min-width: 1200px) {
   .contenedor_campos {
    flex-direction: row;
    height: 25rem;
   }
} 

/*Contacto ubicación*/

.contenedor_contacto {
    display: grid;
}

.imagen_contacto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info_contacto {
    display: grid;
    justify-items: center;
    align-content: center;
}

.datos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

@media (min-width: 1200px) {
   .contenedor_contacto {
    grid-template-columns: repeat(2, 1fr);
    margin: 3rem;
   }

   .info_contacto h3 {
    font-size: 2.5rem;
   }
} 