:root {
    --negro: #000000;
    --blanco: #FFFFFF;
    --oscuro: #262626;
    --dorado: #C59D5F;
    --gris: #C6C6C6;
}

/*Globales*/
html {
    font-size: 62.5%; /* 1rem = 10px*/
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
  } /*snipet box-sizing */

body {
    font-size: 1.6rem; 
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/*Utilidades*/

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.boton {
    background-color: var(--oscuro);
    color: var(--blanco);
    border:.3rem solid var(--dorado);
    padding: 2rem 8rem;
    text-decoration: none;
    text-transform: uppercase;
}

.boton2 {
    background-color: var(--blanco);
    color: var(--negro);
    border:.3rem solid var(--dorado);
    padding: 2rem 8rem;
    text-decoration: none;
    text-transform: uppercase;
}

.boton3 {
    border: none;
    height: 5rem;
    width: 20rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    transition: background-color .4s ease;
}

.boton:hover {
    background-color: var(--blanco);
    color: var(--dorado);
}

.boton2:hover {
    background-color: var(--negro);
    color: var(--dorado);
}

.boton3:hover {
    cursor: pointer;
    background-color: var(--dorado);
}

/*Header*/

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--negro);
}

.logo {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bold;
    padding-top: 1rem;
}

.nav_links {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-transform: uppercase;
}

nav ul li a:visited {
    color: var(--negro);
}

nav ul li a:hover {
    border-bottom: 1.5px solid;
}

nav .logo:visited {
    color: var(--negro);
}

@media (min-width: 1200px) {

    header {
        position: sticky;
        top: 0;
    }

    nav {    
        flex-direction: row;
  
        height: 8rem;
        background-color: var(--blanco);
        box-shadow: .1rem .2rem .3rem #333;
    }

    .nav_links {
        flex-direction: row;
        justify-content: center;
        width: 80%;
        gap: 7rem;
        font-size: 1.4rem;
    }

    .logo {
        padding: 5rem;
    }
} 

/*Portada index*/

.portada_hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--blanco);
    height: 90%;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../img/herom.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

@media (min-width: 1200px) {
   .portada_hero {
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
   }

   .portada_hero h1 {
    font-size: 12rem;
    margin: 0;
   }

   .portada_hero p {
    font-size: 2rem;
   }
} 

/*Conocenos index*/

.conocenos_contenedor {
    background-color: var(--oscuro);
    height: 50rem;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conocenos_contenido {
    color: var(--blanco);
    text-align: center;
}

.conocenos_contenedor a {
    margin-top: 5rem;
}

.conocenos_contenido span {
    color: var(--dorado);
}

.imagen_salon {
    background-image: url(../img/salon.jpg);
    background-position: center;
    background-attachment: fixed;
    height: 60%;  
}

/*Servicios index*/

.contenedor_servicios {
    display: grid;
    justify-items: center;
    gap: 5rem;
    margin: 5rem;
}

.servicio {
    text-align: center;
    max-width: 30rem;
}

@media (min-width: 1200px) {
    .contenedor_servicios {
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-content: center;
    }
 } 
/*Blog index*/

.contenedor_blog {
   min-height: 75rem;
   background-color: var(--oscuro);
   display: grid;
   justify-items: center;
}

.entrada_blog {
    width: 30rem;
    color: var(--blanco);
    border-bottom: .1rem solid var(--gris);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem .1rem;
}


.entrada_blog img {
    width: 30rem;
    height: 35rem;
    object-fit: cover;
}

.entrada_blog a {
    width: 9rem;
    color: var(--dorado);
    border-bottom: 1.5px solid;
    text-transform: uppercase;
}


@media (min-width: 1200px) {
   .contenedor_blog {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
   }

   .entrada_blog {
    align-items:flex-start;
    border-bottom: none;
   }
} 

/*Mapa index*/

.mapa_principal {
    height: 40rem;
}

.mapa_principal iframe {
    width: 100%;
    height: 100%;
}

/*Footer*/

footer{
    background-color: var(--negro);
    color: var(--blanco);
}


footer a:visited {
    color: var(--blanco);
}

footer a:hover {
    color: var(--dorado);
}

.contenedor_footer1 {
    display: grid;
    gap: 5rem;
}

.contenedor_footer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo_footer {
    text-transform: uppercase;
    color: var(--blanco);
    font-weight: bold;
    font-size: 3rem;
    text-decoration: none;
    padding: 3rem;
}

.logo_footer:visited {
    color: var(--blanco);
}

.contenedor_redes {
    display: flex;
    gap: 1.3rem;
}

.contenedor_footer3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
}

.contenedor_footer3 a {
    color: var(--blanco);
}

.contenedor_footer4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.contenedor_footer4 p {
    margin: .5rem;
}

.contenedor_footer4 span {
    font-weight:bold;
    font-size: 1.7rem;
}

.footer_linea {
    border-bottom: .1rem solid var(--gris);
}

.footer_final {
    text-align: center;
}
.footer_final p {
    margin-bottom: 0;
}


@media (min-width: 768px ) {
    .contenedor_footer1 {
        height: 30rem;
        grid-template-columns: repeat(3, 1fr);
    }

    .contenedor_footer3 {
        align-items: flex-start;
    }

    .contenedor_footer4 {
        align-items: flex-start;
        padding-bottom: 0;
    }
} 
/*Servicios.html*/

.portada_servicios {
    height: 70vh;
    color: var(--blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/serviciosm.jpg);
    background-size: cover;
}

.portada_servicios h1 {
    font-size: 5.2rem;
    text-align: center;
}


@media (min-width: 1200px) {
   .portada_servicios {
    background-image: url(../img/servicios.jpg);
    padding-left: 50rem;
   }

   .portada_servicios h1 {
    font-size: 7rem;
   }
} 

/*Servicios.html - servicios*/
.servicios_main {
    background: linear-gradient(to bottom, rgba(194,194,194,1) 0%, rgba(194,194,194,1) 7%, rgba(204,204,204,1) 19%, rgba(209,209,209,1) 30%, rgba(237,237,237,1) 50%, rgba(237,237,237,1) 100%);
}

.contenedor_servicio1 h3,
.contenedor_servicio2 h3 {
    margin: 0;
    text-align: center;
    padding-top: 3rem;
    text-shadow: 0px 4px 5px rgba(0,0,0,0.66);
}

.servicio1,
.servicio2 {
    height: 40rem;
    padding: 1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.servicio1 li,
.servicio2 li {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 2rem;
}

.servicio1 p,
.servicio2 p {
    margin: 0;
}

.servicio1 hr,
.servicio2 hr {
    display: none
}


@media (min-width: 480px) {
   .servicio1 li hr,
   .servicio2 li hr {
       display: flex;
       color: var(--negro);
       width: 40%;   
       margin: 0;
   }

    .servicio1 li,
    .servicio2 li {
        justify-content: space-evenly;
    }
} 

@media (min-width: 768px) {
    .contenedor_servicio1 h3,
    .contenedor_servicio2 h3 {
        font-size: 3rem;
    }

    .servicio1 p,
    .servicio2 p {
        font-size: 1.8rem;
    }
} 

@media (min-width: 1200px) {
    .contenedor_servicio1 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }

    .contenedor_servicio1 h3 {
        padding-top: 0;
    }

    .servicio1 {
        width: 35%;
        gap: 4rem;
    }

    .servicio1 li {
        padding: 0rem;
    }

    .servicios_contenedor2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        padding-top: 5rem;
    }

    .servicio2 {
        width: 50rem;
    }
}   


/*Galeria.html*/

.portada_galeria {
    height: 70vh;
    display: grid;
    justify-items: center;
    align-items: center;
    text-shadow: 0px 4px 5px rgba(0,0,0,0.66);
}

.galeria {
    display: grid;
    justify-items: center;
    row-gap: 5rem;
}

.modelos {
    height: 50rem;
    width: 30rem;
    box-shadow: 4px 8px 21px 8px rgba(0,0,0,0.27);
}

.galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galeria_boton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30rem;
}


@media (min-width: 768px) {
   .galeria {
    grid-template-columns: repeat(2, 1fr);
    max-width: 160rem;
    margin: 0 auto;
    padding: 5rem;
   }

   .portada_galeria h1 {
    font-size: 7rem;
   }
}

@media (min-width: 1200px) {
   .galeria {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
   }

   .modelos {
    height: 60rem;
    width: 37rem;
}
} 

/*Turnos.html*/

.portada_turnos {
    height: 70vh;
    display: grid;
    justify-items: center;
    align-items: center;
    color: var(--blanco);
    background-image: url(../img/turnosm.jpg);
    background-size: cover;
    background-position: center;
}

@media (min-width: 1200px) {
   .portada_turnos{
    background-image: url(../img/turnos.jpg);
   }

   .portada_turnos h1 {
    font-size: 7rem;
   }
} 

/*Turnos.html - selección de turno*/

.elige_turnos {
    text-align: center;
    text-shadow: 0px 4px 5px rgba(0,0,0,0.66);
    margin: 5rem 0;
}

.contenedor_turnos {
    display: grid;
    justify-items: center;
    row-gap: 4rem;

}

.turno {
    border: .2rem solid var(--negro);
    height: 50rem;
    width: 30rem;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 4px 8px 21px 8px rgba(0,0,0,0.27);
    text-transform: uppercase;
    font-weight: bold;
}

.turno h2 {
    color: var(--dorado);
    text-shadow: 0px 4px 5px rgba(197,157,95,0.66);
    font-weight: 400;
}

.turno li{
    height: 10rem;
    display: grid;
    justify-items: center;
    align-items: center;
}

.boton,
.boton2 {
    padding: 2rem 3rem;
}

.turno2 {
    background-color: var(--oscuro);
    color: var(--blanco);
}

.turno2 h2 {
    color: var(--dorado);
    text-shadow: 0px 4px 5px rgba(197,157,95,0.66);
}

@media (min-width: 480px) {
   .turno {
    height: 60rem;
    width: 40rem;
   }
} 

@media (min-width: 1200px) {
   .contenedor_turnos {
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
   }
   .elige_turnos h2 {
    font-size: 3.5rem;
   }
} 

/*Contacto.html*/

.mapa_contacto {
    height: 60rem;
}
.mapa_contacto iframe {
    width: 100%;
    height: 100%;
}

/*Contacto formulario*/

.formulario {
    background-color: var(--negro);
}

.contenedor_campos {
    border: none;
    height: 60rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
}

.campo {
    border: .1rem solid var(--blanco);
    background-color: transparent;
    color: var(--gris);
    width: 30rem;
    height: 5rem;
    padding: 1rem;
}

@media (min-width: 1200px) {
   .contenedor_campos {
    flex-direction: row;
    height: 25rem;
   }
} 

/*Contacto ubicación*/

.contenedor_contacto {
    display: grid;
}

.imagen_contacto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info_contacto {
    display: grid;
    justify-items: center;
    align-content: center;
}

.datos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

@media (min-width: 1200px) {
   .contenedor_contacto {
    grid-template-columns: repeat(2, 1fr);
    margin: 3rem;
   }

   .info_contacto h3 {
    font-size: 2.5rem;
   }
} 