
/*Footer*/

footer {
    background-color: map-get($color, negro);
    a {
        &:visited {
            color: map-get($color, blanco);
        }
        &:hover,
        .logo:hover {
            color: map-get($color, dorado) !important;
        }
    }
    .contenedor_footer1 {
        min-height: 25rem;
    }
    .contenedor_redes {
        gap: 1.3rem;
    }
    .contenedor_footer3 {
        gap: 1.3rem;
        a {
            color: map-get($color, blanco);
        }
    }
    .contenedor_footer4 {
        span {
            font-size: 1.7rem;
        }
    }
    .footer_final {
        border-top: 0.2rem solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(90deg, #f19cc1, #94bbe9);
        gap: 5rem;
    }
}

@media (min-width: 768px) {
    .contenedor_footer3,
    .contenedor_footer4 {
        align-items: flex-start !important;
    }
}
