
/*Globales*/

html {
    font-size: 62.5%; /* 1rem = 10px*/
    box-sizing: border-box;
    body {
        font-size: 1.6rem;
        font-family: "Montserrat", sans-serif;
        h1 {
            font-size: 6rem;
        }

        h2 {
            font-size: 3rem;
        }

        h3 {
            font-size: 2rem;
        }

        h1,
        h2,
        h3,
        h4 {
            text-transform: uppercase;
        }

        a {
            text-decoration: none;
        }

        li {
            list-style: none;
        }
        ::selection {
            background-color: #C59D5F;
            color: #FFFFFF;
        }
        .logo {
            font-size: 3rem;
            letter-spacing: .25rem;
        }
    }
}

*,
*:before,
*:after {
    box-sizing: inherit;
} /*snipet box-sizing */
