
/*Servicios.html*/

.portada_servicios {
    height: 70vh;
    background-image: url(../img/serviciosm.jpg);
    background-size: cover;
    h1 {
        font-size: 5.2rem;
    }
}

@media (min-width: 1200px) {
   .portada_servicios {
    background-image: url(../img/servicios.jpg);
    padding-left: 50rem;
    h1 {
        font-size: 7rem;
       }
   }
} 

/*Servicios.html - servicios*/

.servicios_main {
    background: linear-gradient(to bottom, rgba(194,194,194,1) 0%, rgba(194,194,194,1) 7%, rgba(204,204,204,1) 19%, rgba(209,209,209,1) 30%, rgba(237,237,237,1) 50%, rgba(237,237,237,1) 100%);
    .contenedor_servicio1 h3,
    .contenedor_servicio2 h3 {
        text-shadow: 0px 4px 5px rgba(0,0,0,0.66);
    }
    .servicio1,
    .servicio2 {
        height: 30rem;  
        gap: 2rem;
        p {
            margin: 0;
        }
    }
}

@media (min-width: 480px) {
    .servicio1 li,
    .servicio2 li {
        justify-content: space-evenly !important;
        .linea {
            border-bottom: .1rem solid $gris;
            width: 50%;
        }
    }
} 

@media (min-width: 768px) {
    .contenedor_servicio1 h3,
    .contenedor_servicio2 h3 {
        font-size: 3rem;
    }

    .servicio1 p,
    .servicio2 p {
        font-size: 1.8rem;
    }
} 

@media (min-width: 1200px) {
    .contenedor_servicio1 {
        height: 40rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        .servicio1 {
            width: 40%;
         }
    }

    .servicios_contenedor2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        padding-top: 5rem;
        .servicio2 {
            width: 60rem;
        }        
    }
}  