/*Utilidades*/
$negro: #000000;
$blanco: #FFFFFF;
$oscuro: #262626;
$dorado: #C59D5F;
$gris: #C6C6C6;


.borde {
    border-bottom: .1rem solid !important;
}

.boton {
    background-color: var(--oscuro);
    color: var(--blanco);
    border:.3rem solid var(--dorado);
    border-radius: .8rem;
    padding: 2rem 8rem;
    text-transform: uppercase;
    transition: background-color .5s ease;
}

.boton2 {
    background-color: #e0e0e0;
    color: var(--negro);
    border:.3rem solid var(--dorado);
    border-radius: .8rem;
    padding: 2rem 8rem;
    text-transform: uppercase;
    transition: background-color .5s ease;
}

.boton3 {
    border: none;
    height: 5rem;
    width: 20rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    transition: background-color .5s ease;
}

.boton:hover {
    background-color: var(--blanco);
    color: var(--dorado);
}

.boton2:hover {
    background-color: var(--negro);
    color: var(--dorado);
}

.boton3:hover {
    cursor: pointer;
    background-color: var(--dorado);
}